<h3>關於</h3>

<p>
本軟體改自 Metacarta 創作的 Map Rectifier，這是一套地圖校正的線上服務系統。
原始程式以 Ruby 語言和 Rails 框架寫成，經由 Tim Waters 搭配 OpenStreetMap 進一步改寫。
目前以 MIT 授權條款公開散佈，同好可以參與協作。
</p>

<h4>軟體原作者資訊</h4>
<p>
Tim Waters <br />
tim@geothings.net <br />
blog: <a href="http://thinkwhere.wordpress.com">http://thinkwhere.wordpress.com</a>
</p>
<p>
本服務由中央研究院人文社會科學研究中心地理資訊科學研究專題中心（簡稱中研院人社中心 GIS 專題中心）提供與維護，使用 Tim Waters 所開發的 mapwarper 軟體架設，屬於公益與實驗性質網站，不保證各項服務之穩定、安全、無誤及不中斷，使用者應該自行備份所上傳圖資。
</p>

<h4>系統提供者資訊</h4>
<p>
中研院人社中心 GIS 專題中心 <br />
<%=image_tag 'contact-email.png' -%> <br />
website: <a href="http://gis.rchss.sinica.edu.tw/">http://gis.rchss.sinica.edu.tw/</a>
</p>
