<h3>關於</h3>

<p>
    本軟體改自 Metacarta 創作的 Map Rectifier，這是一套地圖校正的線上服務系統。
    原始程式以 Ruby 語言和 Rails 框架寫成，經由 Tim Waters 搭配 OpenStreetMap 進一步改寫。
    目前以 MIT 授權條款公開散佈，同好可以參與協作。
</p>



<h4>原作者資訊</h4>
<p>
    Tim Waters <br />
    tim@geothings.net <br />
    blog: <a href="http://thinkwhere.wordpress.com">http://thinkwhere.wordpress.com</a>
</p>
