<h3>說明</h3>

<h4>為何系統執行會遇到問題?</h4>
<p>本系統仍在開發測試階段，所以會有不穩定、缺漏、功能不足的地方。
不過，整體而言，系統已經是可以運作的，如果發現問題，請不吝寄信給 <span style="vertical-align: -4px"><%=image_tag 'contact-email.png' -%></span> 進行討論。</p>

<h4>為何不能使用 Google 地圖?</h4>
<p>本系統預設搭配 OpenStreetMap 使用。
因為運用 Google 地圖來取得地圖校正參考點地理座標，是否為合理使用範圍存在疑慮。
但，若是運用 Google 地圖當作底圖來套疊使用，只要是公開且非商業性質使用，則是沒有問題的。</p>

<h4>使用 WMS & JOSM</h4>

<p>首先複製所欲引用地圖之 WMS 服務網址，在 OpenStreetMap 編輯軟體 JOSM 中 WMS Plugin 功能，在指定欄位貼上網址資訊，便可以將已經校正好的地圖加到 JOSM 軟體下提供地圖編修參考，詳情可以參考 OpenStreetMap Wiki 頁面，以取得更多資訊。</p>

<h4>如何取得程式碼和協助?</h4>
<p>程式碼網址在 http://svn2.geothings.net/mapwarper/，目前使用 MIT 授權條款。<br />
原創作者是 Tim Waters，電郵地址是 tim@geothings.net。</p>

<h4>地圖上傳的使用條款?</h4>
<p>如果您上傳地圖到本系統，代表同意任何人可以閱讀或使用它們，包括更改控制點等。<br />
因此，建議您先確認擁有地圖的使用權，或該地圖屬於公共版權。
上傳的公開圖檔並不能向別人主張著作權。<br />
如果對於著作權有所疑異，請通知 <span style="vertical-align: -4px"><%=image_tag 'contact-email.png' -%></span>。
<br />原則上，請確保上傳的圖檔能被自由散佈或複製。
如果有其他的條件，請在說明欄位裡加註。<br />
未來，本系統會提供不公開 (private) 圖檔的功能。
</p>

<h4>本網站的隱私權政策?</h4>
<p>您的個人資訊 (用於登入系統之類的功能) 會被確保隱密安全，我們不會向任何第三方透露。
<br />如果您想要刪除已經登記的個人資訊，請通知 <span style="vertical-align: -4px"><%=image_tag 'contact-email.png' -%></span>。</p>

