<h3>說明</h3>

<h4>為何系統執行會遇到問題?</h4>
<p>程式碼仍在開發測試階段，所以會有不穩定、缺漏、功能不足的地方。
不過，整體而言，系統是可以運作的，如果發現問題，請寄信給 gis@gate.sinica.edu.tw 進行討論。</p>

<h4>為何不能使用 Google 地圖?</h4>
<p>本系統預設搭配 OpenStreetMap 使用。
使用 Google 地圖來校正或處理版權地圖，通常會有法律或道德風險要考量。
不過，Google 的衛星地圖應該可以拿來套疊使用。</p>

<h4>使用 WMS & JOSM</h4>

<p>複製 WMS 網址，透過 WMS Plugin 貼到必要的設定位置，參考 OpenStreetMap Wiki 頁面以取得更多資訊。</p>

<h4>如何取得程式碼和協助?</h4>
<p>程式碼網址在 http://svn2.geothings.net/mapwarper/ 目前使用 MIT 授權條款。<br />
作者是 Tim Waters 電郵地址是 tim@geothings.net</p>

<h4>地圖上傳的使用條款?</h4>
<p>如果您上傳地圖到本系統，代表同意任何人可以閱讀或使用它們，包括更改控制點等。<br />
因此，建議您確認擁有地圖的使用權。
公開上傳的圖檔並不能向別人主張著作授權。<br />
如果對於著作權有所疑異，請通知 gis@gate.sinica.edu.tw
<br />原則上，請確保上傳的圖檔能被自由散佈或複製。
如果有其他的條件，請在說明欄位裡加註。<br />
不久的將來，本系統會提供不公開圖檔的功能。<br />

</p>

<h4>本網站的隱私權政策?</h4>
<p>您的個人資訊 (用於登入系統之類的功能) 會被確保隱密安全，我們不會向任何第三方透露。
<br />如果您想要刪除個人資訊，請通知 gis@gate.sinica.edu.tw </p>

